
.pageTitle {
    font-size: 50px;
}

.select {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.config_type_option {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
}

.textarea {
    width: 100%;
    height: 350px;
    border: solid 3px #333;
    border-radius: 4px;
    background:#333;
    color:white;

    padding: 5px;
}
